// Mixin
// 어떤 종류의 argument를 mixin에다가 보내야 할 때 css의 결과값을 바꿈
@mixin link($word) {
    text-decoration: none;
    display: block;

    @if $word=='odd' {
        color: skyblue;
    }

    @else {
        color: tomato;
    }
}

$minIphone: 500px;
$maxIphone: 690px;
$minTablet: $minIphone+1;
$maxTablet: 1120px;

@mixin responsive($device) {
    @if $device=="iphone" {
        @media screen and (min-width: $minIphone) and (max-width: $maxIphone) {
            @content;
        }
    }

    @else if $device=="tablet" {
        @media screen and (min-width: $minTablet) and (max-width: $maxTablet) {
            @content;
        }
    }

    @else if $device=="iphone-l" {
        @media screen and (max-width: $minIphone) and (max-width: $maxIphone) and (orientation: landscape) {
            @content;
        }
    }

    @else if $device=="ipad-l" {
        @media screen and (min-width: $minTablet) and (max-width: $maxTablet) and (orientation: landscape) {
            @content;
        }
    }
}