body {
  overflow-x: hidden;
  background: linear-gradient(
    150deg,
    tomato,
    orange,
    yellow,
    green,
    indigo,
    purple,
    white
  );
}

h1 {
  color: #333;
}

.progress {
  position: fixed;
  width: 10px;
  height: 150px;
  top: 40%;
  left: 20px;
  background-color: black;
  z-index: 10;
}

.progress__bar {
  position: absolute;
  width: 10px;
  height: 0px;
  top: 0;
  left: 0;
  background-color: yellowgreen;
  z-index: 11;
}

.section {
  position: relative;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.9);
  margin: 30px auto;
  padding: 10px 20px;
  z-index: 100;
}

p {
  color: #555;
  font-size: 15px;
}

/* 구름 */
.cloudWrap {
  position: absolute;
}
.cloudWrap.cloud2 {
  position: absolute;
  top: -200px;
  left: 700px;
  z-index: 1000;
}

.cloudWrap img {
  position: absolute;
  width: 400px;
  top: 0;
  left: 0;
}

/* 구름 각각 위치 잡아주기 */
.cloudWrap img:nth-child(1) {
  top: -100px;
  left: 500px;
}
.cloudWrap img:nth-child(2) {
  top: 800px;
  left: 0px;
}
.cloudWrap img:nth-child(3) {
  top: 1800px;
  left: 400px;
}
.cloudWrap img:nth-child(4) {
  top: 3000px;
  left: -100px;
}
.cloudWrap img:nth-child(5) {
  top: 4200px;
  left: 500px;
}
.cloudWrap img:nth-child(6) {
  top: 5900px;
  left: -140px;
}
.cloudWrap img:nth-child(7) {
  top: 7000px;
  left: 500px;
}
.cloudWrap img:nth-child(8) {
  top: 8000px;
  left: -190px;
}
.cloudWrap img:nth-child(9) {
  top: 9500px;
  left: 600px;
}
