/* 
flexBox 규칙
기억하자
1. 항상 붙어있는 부모가 자식의 위치를 움직일 수 있다.

flex-direction default row: 가로
justify-content ---> main axis(가로) item을 위치
align-items ----> cross axis(세로) item의 위치
*/

.father {
    display: flex;
    /* Main Axis */
    justify-content: center;
    height: 100vh;
    /* flex-direction: column-reverse; */
    /* Cross Axis */
    /* align-items: center; */
    /* flex-wrap: wrap; */
}

.child {
    width: 200px;
    height: 200px;
    background: peru;
    color: white;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* align-self
.child:nth-child(2) {
     default --> column 
    align-self: center;
}

.child:nth-child(3) {
    align-self: flex-end;
}
*/

/* .child:nth-child(2) {
     기본적으로 order: 0이다.
    order: 1;
} */

/* flex-shrink --> 공간이 줄어들때 비율만큼 더 줄어든다. 
.child:nth-child(2) {
    background-color: black;
    flex-shrink: 5;
} */

/* flex-grow ---> 여분의 공간이 있을 떄 비율만큼 더 늘어난다.  
.child:nth-child(2) { 
    background-color: black;
    flex-grow: 1;
}
*/