/*
.father {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 100px 50px 300px;
    /* 
    column-gap: 10px;
    row-gap: 10px; 
    
    gap: 10px;
}

.child {
    flex-basis: 30%;
    background: peru;
    color: white;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

*/

/* Grid Areas
.grid {
    display: grid;
    grid-template-columns: auto 200px;
    /* auto= 모든 공간을 사용한다. 
    grid-template-rows: 100px repeat(2, 200px) 100px;
    grid-template-areas:
        "header header header header"
        "content content content nav"
        "content content content nav"
        "footer footer footer footer"
    ;
}

.header {
    background-color: #2ecc71;
    grid-area: header;
}

.content {
    background-color: skyblue;
    grid-area: content;
}

.nav {
    background-color: purple;
    grid-area: nav;
}

.footer {
    background-color: rgb(230, 129, 92);
    grid-area: footer;
}
*/

.grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
}

.header {
    background-color: #2ecc71;
    /* 
    grid-column-start: 1;
    grid-column-end: 5; 
    */
    grid-column: 1 / -1;
}

.content {
    background-color: skyblue;
    grid-column: 1 / -2;
    grid-row: 2 / span 2;
}

.nav {
    background-color: purple;
    grid-row: 2 / 4;
}

.footer {
    background-color: rgb(230, 129, 92);
    grid-column: span 4;
}