%miniTitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

%contentFont {
    font-family: 'Open Sans';
    letter-spacing: 1px;
    font-size: 36px;
    text-align: center;
    line-height: 50px;
}